* {
    box-sizing: border-box;
    
}

.box{
    background-color: #000000;
    /* height:600vh; */
    padding-top: 50px;
    
}

.navbar-nav .nav-link {
    color: white !important;
}
.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.5) !important; 
    transition: background-color 0.3s ease-in-out;
}
.navbar-nav .nav-item {
    margin-right: 25px; 
}

.navbar-toggler-icon {
    background-color: white;
    width: 30px; 
    height: 3px; 
    display: block;
    transition: background-color 0.3s ease-in-out;
}

.navbar-toggler-icon.line {
    margin-bottom: 5px; 
}

.navbar-toggler-icon.active.line1 {
    transform: rotate(45deg) translate(5px, 5px); 
}

.navbar-toggler-icon.active.line2 {
    opacity: 0; /* Hide the second line */
}

.navbar-toggler-icon.active.line3 {
    transform: rotate(-45deg) translate(8px, -7px); 
}


@media (max-width: 767.98px) {
    .ml-auto {
        margin-left: auto !important;
    }
}


.main_heading{
    
    height:70vh;
    
}
.mettle{
    padding-top:140px;
    padding-left:10px;
    padding-right:10px;
    
}
.gradient{
    background: radial-gradient(#5A3C0F 8%, #000000 63%);
    background-color:black;
    }

    @media only screen and (max-width: 600px) {
        .box{
            background-color: #000000;
            height:100vh;
            padding-top: 50px;
            
        }
      }

.heading{
    
    color:aliceblue;
    text-align: center;
    font-family:black;
    font-weight: bold;
    
    /* width: 651px;
    height: 96px;
    top: 266px;
    left: 394px;
    border: 1px;
    opacity: 0.4px; */

}

.content{
    color:aliceblue;
    text-align: center;
    /* font-size:20px; */
    
}

.logo{
    height:60px;
    width:60px;
    margin:0px;
}
.p{
    color:white;
    padding:15px;
    margin-top:10px;
}
.explore{
    margin-top:8px;
}
.explore hr {
    margin: 0 50px; 
    margin-top:35px ;
    
  }
.explorelogo{
    width:35vw;
    height:20vh;
}
.explore_button{
    border-style: dotted;
    border-color: goldenrod;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height:70px;
    background-color: #000000;
    color:white;
}
hr {
    border: 1px solid goldenrod; 
    width: 15%; 

  }

h1 {
    font-size: 90px;
  }
  
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 30px; 
    }
  }

p{
    font-size:15px;
}
@media only screen and (max-width:600px){
    p{
        font-size:10px ;
    }
}
.navbar-toggler-icon {
    background-color: white;
}


.navbar-toggler-icon.active {
    background-color: red; 
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.countdown-container {
    display: flex;
    justify-content: center;
    
}

.countdown-container div {
    margin: 0 20px;
    
}

.countDown{
    margin-top: 120px;
    

}
.countDownHeading{
    /* font-size: 45px;
    padding-bottom: 20px;
    font-family: Outfit;
    margin-bottom: 30px;
    color: linear-gradient(0deg, #FFF0DA 1.04%, #94641E 4.17%, #FFF2DB 82.81%, #EAC885 93.75%, #FBF5D1 97.92%, #BD9A4B 99.99%, #ECD8A3 100%); */
    font-family: Outfit;
  font-size: 50px;
  font-weight: 600;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(0deg, #FFF0DA 1.04%, #94641E 4.17%, #FFF2DB 82.81%, #EAC885 93.75%, #FBF5D1 97.92%, #BD9A4B 99.99%, #ECD8A3 100%),
              linear-gradient(0deg, #000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}
.separator {
    /* font-size: 50px; 
    margin:0px; */
    width: 28px;
        height: 106px;
        top: 1061px;
        left: 424px;
        font-family: Sequel100Black-45;
        font-size: 88px;
        line-height: 106px;
        letter-spacing: 0.5em;
        text-align: left;
        background: linear-gradient(0deg, #FFF0DA 1.04%, #94641E 4.17%, #FFF2DB 82.81%, #EAC885 93.75%, #FBF5D1 97.92%, #BD9A4B 99.99%, #ECD8A3 100%),
        linear-gradient(0deg, #000000, #000000);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.countdown-container div span {
    display: inline-block;
    height: 128px;
    width: 99px;
    font-size: 96px;
    font-family: Sequel100Black-45;
    border-radius: 15px;
    /* background-color: #36454f; */
    /* border: 3px solid goldenrod; */
    border-image: linear-gradient(
					141.89deg,
					#fcf6d1 0%,
					#bd9457 10.42%,
					#e3ca89 25%,
					#fee8c8 69.79%,
					#4d3a1a 85.42%,
					#fcf0d1 100%
				);
				border-image-slice: 1;
				border-image-width: 2px;
				border-image-outset: 0;
    padding: 5px;
    padding-top: 9px;
    margin: 2px;
    font-size: 96px;
    line-height: 115px;
    letter-spacing: 0.33em;
    text-align: center;
    padding-left: 12px;
    /* margin:auto; */
    background-color: rgba(47, 47, 47, 1);
}

.countdown-container div label {
    font-size: 20px;
    display: block;
    margin: 10px;
    text-align: center;
    font-family: Sequel100Black-45;

}


@media only screen and (max-width: 600px) {
    .countdown-container {
        width: 60%; 
        margin: auto; 
    }

    .countdown-container div {
        margin: 0 3px; 
    }

    .countdown-container div span {
        height: 35px;
        width: 35px;
        font-size: 18px;
        padding: 5px;
        padding-top: 2px;
        border-radius: 8px;
        margin: 2px;
    }

    .countdown-container div label {
        font-size: 12px;
    }

    .separator {
        /* font-size: 20px;
        margin-top: 8px;  */
        


    }
}



.registerbutton{
    width: Hug (287px);
height: Hug (48px);
top: 1284px;
left: 576px;
/* padding: 14px, 29px, 14px, 29px; */
gap: 8px;

    margin-top: 40px;
    /* height: 50px; */
    padding: 10px;
    font-family: outfit;
    font-weight: bold;
    font-size:18px;
    line-height: 20px;
    /* color: black; */
    color: rgba(47, 47, 47, 1);
    /* background-color: goldenrod; */
    background: linear-gradient(
					0deg,
					#fff0da 1.04%,
					#94641e 4.17%,
					#fff2db 82.81%,
					#eac885 93.75%,
					#fbf5d1 97.92%,
					#bd9a4b 99.99%,
					#ecd8a3 100%
				);
}




.title-container {
    font-family: Outfit;
    font-size: 50px;
    font-weight: 600;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: center;
    background: linear-gradient(0deg, #FFF0DA 1.04%, #94641E 4.17%, #FFF2DB 82.81%, #EAC885 93.75%, #FBF5D1 97.92%, #BD9A4B 99.99%, #ECD8A3 100%),
                linear-gradient(0deg, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    margin-top: 100px;
  }
  
  @media (max-width: 768px) {
    .title-container {
      font-size: 40px;
      line-height: 62px;
    }
  }
  
  @media (max-width: 480px) {
    .title-container {
      font-size: 30px;
      line-height: 52px;
    }
  }


  /* card css */
  
              .card-container {
                  display: flex;
                  justify-content: center; /* Distribute space between cards */
                  flex-wrap: wrap; /* Allow cards to wrap to the next row */
                  margin-top: 15px; /* Adjust the gap between cards */
                  
              }
  
              .card {
                  width:300px;
                  
                  padding: 18px;
                  border-radius: 16px;
                  box-shadow: 0 3px 8px -1px rgba(50, 50, 71, 0.05),
                      4px 4px 28.1px 1px rgba(12, 26, 75, 0.24);
                  border: 2px solid transparent;
                  border-image: linear-gradient(
                      141.89deg,
                      #fcf6d1 0%,
                      #bd9457 10.42%,
                      #e3ca89 25%,
                      #fee8c8 69.79%,
                      #4d3a1a 85.42%,
                      #fcf0d1 100%
                  );
                  border-image-slice: 1;
                  border-image-width: 2px;
                  border-image-outset: 0;
                  background-color: rgba(47, 47, 47, 1);
                  display: flex;
                  flex-direction: column; /* Stack children vertically */
                  position: relative;
          overflow: hidden;
          margin: 20px;
              }
  
              .content {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center; /* Center content horizontally */
              }
  
              .card img {
                  width: 100%;
                  max-width: 336px; /* Set maximum width for the image */
                  max-height: 150px; /* Set maximum height for the image */
                  border-radius: 16px;
                  object-fit: cover;
              }
  
              .card-content {
                  display: flex;
                  flex-direction: column;
                  justify-content: center; /* Vertically center the content */
                  align-items: center; /* Horizontally center the content within the column */
                  padding: 10px;
              }
  
              .card-title {
                  font-family: Lato;
                  font-size: 24px;
                  font-weight: 900;
                  line-height: 33px;
                  letter-spacing: 0em;
                  text-align: center;
                  color: rgba(255, 255, 255, 1);
              }
  
              .card-text {
                  font-family: Lato;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 20px;
                  letter-spacing: 0em;
                  text-align: center;
                  color: #666;
              }
  
              .see-more-button {
                  width: auto; /* Adjust width as needed */
                  max-width: 200px; /* Adjust maximum width as needed */
                  height: 36px;
                  padding: 12px 20px;
                  background: linear-gradient(
                      0deg,
                      #fff0da 1.04%,
                      #94641e 4.17%,
                      #fff2db 82.81%,
                      #eac885 93.75%,
                      #fbf5d1 97.92%,
                      #bd9a4b 99.99%,
                      #ecd8a3 100%
                  );
                  font-family: Outfit;
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 12px;
                  letter-spacing: 0em;
                  text-align: center; /* Center the text horizontally */
                  color: rgba(47, 47, 47, 1);
                  border: none;
                  cursor: pointer;
                  margin: auto; /* Center the button within its container */
              }
              
  
              @media (max-width: 600px) {
                  .card {
                      max-width: 300px;
                  }
              }


              /* footer css */

              #top {
                margin-top: 70px;
                width: 100%;
                max-width: 1440px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                /* background-image: url("Black Gold Marble.jpg") ; */
                
                border: 1.35px solid rgba(0, 0, 0, 1);

                
            }
            #top::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("Black Gold Marble.jpg");
                background-size: cover;
                background-position: center;
                opacity: 0.2; /* Adjust opacity as needed (0.2 = 20% opacity) */
                z-index: -1; /* Send pseudo-element behind other content */
            }
            .bg-image{
                background-image: url("Black Gold Marble.jpg");
                opacity:20%;
            }
            
            #home_footer,
            #events_footer,
            #workshops,
            #getintouch_footer {
                text-align: center;
                margin: 20px;
            }
            
            #bottom {
                width: 100%;
                max-width: 1440px;
                height: 62px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #AE8A53;
                color: black;
                background: linear-gradient(90deg, #FCF6D1 0%, #BD9457 10.85%, #E3CA89 26.04%, #FEE8C8 72.7%, #B48B42 88.98%, #FCF0D1 104.17%);
            }
            
            #facebook,
            #twitter,
            #linkedin {
                height: 40px;
                width: 40px;
                margin: 5px;
            }
            
            #sign_input {
                width: 100%;
                max-width: 300px;
                height: 37.8px;
                margin-bottom: 10px;
                border-radius: 25px;
            }
            
            #signin_input {
                width: 100%;
                max-width: 100px;
                height: 45px;
                margin-bottom: 10px;
                background-color: black;
                color: white;
                font-size: 13px;
                border-radius: 25px;
            }
            
            @media (min-width: 768px) {
                /* Adjust styles for tablets and larger screens */
                #top {
                    flex-direction: row;
                }
            
                #home_footer,
                #events_footer,
                #workshops,
                #getintouch_footer {
                    width: 25%;
                }
            }
            